# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.local

# Flask specific
instance/
*.db
*.sqlite3

# Logs & debug
logs/
*.log

# pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Migrations
migrations/

# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# IDE and editor settings
*.swp
*.swo
.idea/
*.iml
